# SPDX-FileCopyrightText: 2023 Roman Gilg <subdiff@gmail.com>
#
# SPDX-License-Identifier: GPL-2.0-or-later

# Common build directories
build/
_build/

# CI tooling
node_modules/
package.json
yarn.lock

# Note: Use a global .gitignore file for your local editor files. See [1] on how to create this.
# [1] https://sebastiandedeyne.com/setting-up-a-global-gitignore-file/
